@use "styles/global" as *;

.root {
  @include fontJetBrains;
  color: white;
}

.playerContainer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  flex-direction: column;

  @include media("tabletVertical") {
    flex-direction: row;
    align-items: stretch;
    gap: 80px;
  }

  padding-bottom: 80px;

  li {
    width: 100%;
    height: auto;

    @include media("tabletVertical") {
      height: auto;
      width: 50%;
    }

    .leftWrapper {
      position: relative;
      height: 100%;

      .previewImg {
        width: 100%;
        height: 100%;
        max-height: 708px;
        object-fit: cover;
        object-position: center;
      }

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .spiral {
        width: 50%;
        height: auto;

        @include media("tabletVertical") {
          width: 65%;
        }
      }

      @include media("tablet") {
        gap: 40px;
      }

      @include media("tabletVertical") {
        align-items: center;
        gap: 128px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiralText {
  text-transform: uppercase;
  text-align: center;
  max-width: 672px;

  span {
    color: $Orange;
  }

  @include media("tabletVertical") {
    text-align: left;
  }
}

.stats {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(1, 1fr);

  @include media("tablet") {
    gap: 30px;
  }

  @include media("phoneL") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media("laptop") {
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
