@import "@styles/global.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 32px;

  background: linear-gradient(-240deg, rgba(226, 255, 102, 0.5) 0%, rgba(226, 255, 102, 0) 15%);
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: black;
  color: white;

  @include media(tabletVertical) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 36px 16px 0 16px;

  @include media(tabletVertical) {
    border-right: 2px solid rgba(#fff, 0.4);
    padding: 302px 93px 172px 127px;
  }
}

.title {
  @include fontJetBrains;
  font-weight: 300;
  font-size: 54px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.description {
  @include fontAbel;
  font-weight: 400;
  font-size: 20px;
}

.rightWrapper {
  display: flex;

  padding: 0 16px 36px 16px;

  @include media(tabletVertical) {
    justify-content: center;
    align-items: center;
    padding: 100px 30px 100px 160px;
  }
}

.button {
  @include fontJetBrains;
  width: 100%;

  border-radius: 8px;

  padding: 30px 40px;

  background-color: white;
  color: #000;

  cursor: pointer;
  text-transform: uppercase;

  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.8);
  }

  @include media(tabletVertical) {
    width: 160px;
    height: fit-content;
  }
}
