@use "styles/global" as *;

.page {
  @include fontJetBrains;
  background-color: black;
  color: white;

  &__title {
    margin-bottom: $Spacing-md;

    @include media("tablet") {
      margin-bottom: $Spacing-lg;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;

    @include media("tablet") {
      justify-content: flex-start;
    }

    @include media("tabletVertical") {
      gap: 16px;
    }
  }
}

.container {
  margin-bottom: $Spacing-md;

  @include media("tablet") {
    margin-bottom: $Spacing-lg;
  }
}

.active {
  background-color: #cfec57;
  color: #000;
}

.swiperContainer {
  display: flex;
}

.nextPrev {
  width: 100%;
  max-width: 100px;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.16);

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    height: 50%;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #cfec57;
    transition: color 0.3s ease;

    &:disabled {
      color: gray;
    }
  }

  @include media("tabletVertical") {
    max-width: 161px;
    flex-direction: column;
  }

  &_desktop {
    display: none;

    @include media("tabletVertical") {
      display: block;
    }
  }

  &_mobile {
    display: flex;

    @include media("tabletVertical") {
      display: none;
    }
  }
}

.sliderNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.navButton:hover {
  color: yellow;
}

.swiper {
  width: 100%;
  flex: 1;
}

.slide {
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.16);

  .image {
    margin-bottom: $Spacing-sm;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .cardTitle {
    margin-bottom: 4px;
  }

  .subtitle {
    text-transform: uppercase;
    color: $Dark-Gray;

    margin-bottom: $Spacing-sm;
  }

  .description {
    color: $Dark-Gray;

    margin-bottom: $Spacing-sm;
    max-width: 376px;
  }

  .readMore {
    box-sizing: border-box;
    padding: 25px 40px;
    background-color: black;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.16);

    @include fontJetBrains;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #ffffff;

    transition:
      border 0.5s ease-in-out,
      color 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      border: 1px solid #cfec57;
      color: #cfec57;
    }
  }
}

.progressBar {
  margin-left: auto;
  width: 100%;
  height: 4px;
  background: #222;
  margin-top: 33px;

  @include media("tabletVertical") {
    width: calc(100% - 161px);
  }

  .progress {
    height: 100%;
    background: $Yellow;
    width: 0%;
    transition: width 0.3s ease;
  }
}
