@import "@styles/global.scss";

.root {
  @include fontJetBrains;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.08em;
  color: rgba(255, 255, 255, 0.6);

  position: absolute;
  top: 10%;
  left: 50%;

  li {
    margin-bottom: 534px;
    padding: 8px 28px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.4);

    transform: translate(-50%, -50%);
  }
  & li:nth-child(4) {
    transform: translate(-50%, 0%);
  }
  & li:nth-child(5) {
    transform: translate(-50%, 50%);
  }
}
