@use "styles/global" as *;

.root {
  @include fontJetBrains;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.08em;
  color: rgba(255, 255, 255, 0.6);

  position: absolute;
  z-index: 200;
  top: 0;
  height: 100%;
  left: 50%;

  // Hide on mobile/tablet, show on laptop+
  display: none;

  @include media("laptop") {
    display: block;
    font-size: 24px;
  }

  li {
    margin-bottom: 534px;
    padding: 8px 28px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.4);

    transform: translate(-50%, -50%);
  }

  & li:first-child {
    transform: translate(-50%, -100%);
  }

  & li:nth-child(4) {
    transform: translate(-50%, 0%);
  }
  & li:nth-child(5) {
    transform: translate(-50%, 50%);
  }
}
