@use "styles/global" as *;

.wrapper {
  background-color: #000;
  border-top: 2px solid #ffffff5b;
  border-bottom: 2px solid #ffffff5b;
  overflow: hidden;
  scroll-margin-top: -450px;

  padding-top: 40px;
  padding-bottom: 40px;

  @include media(phoneXL) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: 1100px) {
    scroll-margin-top: -220px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.contactsList {
  display: grid;
  gap: $Spacing-md;

  > .listItem {
    justify-content: center;
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;

    > .listItem {
      justify-content: center;
    }
    > .listItem:first-child {
      justify-content: start;
    }
    > .listItem:last-child {
      justify-content: end;
    }
  }
}

.listItem {
  display: flex;
  gap: 16px;
  // justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;

  width: 100%;

  &:nth-last-child(1) {
    border-bottom: none;
  }

  @media (min-width: 1100px) {
    border-bottom: none;
    border-right: 2px solid #ffffff5b;
    padding: 60px 16px;
    text-align: left;

    &:nth-last-child(1) {
      border-right: none;
      border-bottom: none;
    }
  }

  @include media(laptop) {
    padding: 80px 16px;
  }

  @media (max-width: 500px) {
    text-align: center;
  }
}

.itemContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItemTitle {
  color: $Dark-Gray;
  margin-bottom: 16px;
}

.listItemLink {
  @include fontJetBrains;
  font-size: 20px;

  display: flex;
  gap: 16px;
  align-items: center;

  color: #fff;

  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: linear;

  &:hover {
    color: #d0ec57;
  }

  @include media(tabletVertical) {
    font-size: 24px;
  }
}

.arrowIcon {
  width: 24px;
  height: 24px;

  @include media(tablet) {
    width: 32px;
    height: 32px;
  }
}
