@use "styles/global" as *;

.textContainer {
  max-width: none;
  width: 100%;

  @include media("tablet") {
    max-width: 850px;
  }
}

.heroImg {
  bottom: 0%;
  right: 55%;
  width: 130%;

  @include media("tablet") {
    transform: translate(0%, 0%);
    max-width: 700px;
    right: -3%;
  }

  @include media("laptop") {
    right: -8%;
    max-width: 700px;
    bottom: 57%;
    transform: translate(0%, 50%);
  }

  @include media("desktop") {
    max-width: 900px;
  }
}
