@use "styles/global" as *;

.textContainer {
  max-width: none;
  width: 100%;

  @include media("tablet") {
    max-width: 850px;
  }
}

.heroImg {
  bottom: 0%;
  right: 50%;
  max-width: 450px;

  @include media("tablet") {
    transform: translate(0%, 0%);
    max-width: 500px;
    right: -3%;
  }

  @include media("laptop") {
    right: -5%;
    bottom: 52%;
    transform: translate(0%, 50%);
  }

  @include media("desktop") {
    max-width: 600px;
  }
}
