@use "styles/global" as *;

.root {
  background: #000;
  color: #fff;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 550px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $Spacing-sm;

  margin-bottom: $Spacing-sm;

  @include media("laptop") {
    margin-bottom: $Spacing-lg;
    gap: $Spacing-lg;
  }
}

.desc {
  color: $Light-Gray;
  max-width: 768px;
  text-align: center;
}

.title {
  text-align: center;
  color: #fff;
}

.container {
  max-width: $Container-Width;
  margin: 0 auto;
  overflow: hidden;
}

.swiper {
  overflow: hidden;
  align-items: stretch;
  cursor: grab;
  width: 100%;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
    display: flex;
  }

  &:active {
    cursor: grabbing;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 225px;
    max-width: 20%;
    z-index: 10;

    @media (max-width: 945px) {
      display: none;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(-90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.slide {
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media("tablet") {
    max-width: 510px;
  }
}

.swiper-slide {
  height: auto;
  display: flex;
}

.topContentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 20px;
  position: relative;
  flex: 1;
  min-height: 350px;

  background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a38 40%);
  border: 1px solid #262626;
  border-radius: 20px;

  @include media("tablet") {
    margin-bottom: 44px;
    padding: 28px;
    min-height: 460px;
  }
}

.upwork {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 85px;
  padding: 12px;
  margin-bottom: 24px;

  @include media("tablet") {
    width: 104px;
    padding: 16px;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  background: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 8px;
}

.arrowDown {
  position: absolute;

  left: 14px;
  bottom: -20px;

  color: #262626;
}

.bottomContentWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bottomContentTitleAndDateWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewText {
  @include fontAbel;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    margin-bottom: 10px;
  }

  @include media("tablet") {
    font-size: 16px;
  }
}

.reviewTitle {
  @include fontAbel;
  font-size: 18px;
  font-weight: 500;
}

.date {
  @include fontAbel;
  color: $Dark-Gray;
}

.avatar {
  margin-left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  @include media("tablet") {
    width: 70px;
    height: 70px;
    margin-left: 0px;
  }

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23a215;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
