@import "@styles/global.scss";

.root {
  background: #000;
  color: #fff;
  overflow: hidden;
  padding-bottom: 90px;

  @include media("tablet") {
    padding-bottom: 160px;
  }
}

.title {
  @include fontJetBrains;
  font-size: 40px;
  font-weight: 300;
  line-height: 90%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  margin-bottom: 32px;

  @include media(tabletVertical) {
    font-size: 120px;
  }

  @include media("tablet") {
    margin-bottom: 80px;
  }
}

/* limit carousel width & keep it centred */
.container {
  max-width: $Container-Width; // 1600px
  margin: 0 auto;
  overflow: hidden;
}

.swiper {
  overflow: hidden;

  cursor: grab;
  width: 100%; // fill the .container but no more

  &:active {
    cursor: grabbing;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 225px;
    max-width: 20%;
    z-index: 10;

    @media (max-width: 945px) {
      display: none;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(-90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.slide {
  max-width: 90%;
  display: flex;
  flex-direction: column;

  @media (min-width: 445px) {
    max-width: 80%;
  }

  @include media("tablet") {
    max-width: 510px;
  }
}

.topContentWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 460px;
  margin-bottom: 44px;
  padding: 20px;
  position: relative;

  background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a38 40%);
  border: 1px solid #262626;
  border-radius: 20px;

  @include media("tablet") {
    padding: 40px;
  }
}

.upwork {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 104px;
  padding: 16px;
  margin-bottom: 30px;

  background: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 8px;
}

.arrowDown {
  position: absolute;

  left: 14px;
  bottom: -20px;

  color: #262626;
}

.bottomContentWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.bottomContentTitleAndDateWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewText {
  @include fontAbel;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  @include media("tablet") {
    font-size: 16px;
  }
}

.reviewTitle {
  @include fontAbel;
  font-size: 18px;
  font-weight: 500;
}

.date {
  @include fontAbel;
  font-size: 14px;
  font-weight: 300;

  color: #808080;
}

.logo {
  min-width: 35px;
  height: 35px;

  border-radius: 50%;

  background-color: yellowgreen;
}
