@use "styles/global" as *;

.textContainer {
  max-width: none;
  width: 100%;

  @include media("tablet") {
    max-width: 850px;
  }
}

.heroImg {
  bottom: 0%;
  max-width: 600px;

  @include media("tablet") {
    transform: translate(0%, 0%);
    right: -5%;
  }

  @include media("laptop") {
    max-width: 700px;
    bottom: 55%;
    transform: translate(0%, 50%);
  }

  @include media("desktop") {
    max-width: 800px;
  }
}
