@use "styles/global" as *;

.accordionContent {
  padding-top: 0px !important;
}

.answer {
  color: $Dark-Gray;
}

.accordionItem {
  border-bottom: 1px solid rgba(#fff, 0.4);
}

.iconWrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 6px;

  border: 1px solid gray;
  border-radius: 4px;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  .accordionItem[data-open="open"] & {
    background-color: #d0ec57;
  }

  @include media("tablet") {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

.plusIcon {
  width: 100%;
  height: 100%;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;

  .accordionItem[data-open="open"] & {
    transform: rotate(45deg);
    color: #000;
  }

  // @include media(laptop) {
  //   width: 22px;
  //   height: 22px;
  // }
}

.accordionQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  padding: 14px;

  cursor: pointer;

  @include media("tablet") {
    padding: 24px;
  }
}

.question {
  &:active {
    outline: none;
  }
}
