@import "@styles/global.scss";

.root {
  @include fontAbel;
  padding: 0px 160px 180px 160px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  color: white;
}

.rootTitle {
  @include fontJetBrains;
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 90%;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  margin-bottom: 80px;
}

.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  .block {
    box-sizing: border-box;
    height: 365px;
    width: 513px;
    flex: 1 1 calc(33.33% - 90px);
    background: rgba(255, 255, 255, 0.04);
    border: 0.5px solid rgba(255, 255, 255, 0.08);

    padding: 30px 30px 48px 30px;
  }

  .icon {
    width: 70px;
    height: 70px;
    padding-bottom: 36px;
  }

  .title {
    max-width: 344px;
    max-height: 70px;
    padding-bottom: 32px;

    @include fontJetBrains;
    font-size: 36px;
    font-weight: 200;
    line-height: 110%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #e9e9e9;
  }

  .point {
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    .pin {
      margin-right: 16px;
      width: 16px;
      height: auto;
      color: #cfec57;
    }
  }
}
