@use "styles/global" as *;

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  @include fontAbel;
  font-size: $FontSize-text-md;
  font-weight: 300;

  border: none;
  border-bottom: 2px solid #fff;

  background-color: #000;
  color: #fff;

  padding: 12px 12px 12px 0px;

  &:focus {
    outline: none;
  }

  @include media(tablet) {
    padding: 16px 12px 16px 0px;
  }
}

.textarea {
  @include fontAbel;
  font-size: 14px;
  font-weight: 300;

  resize: none;

  border: none;
  border-bottom: 2px solid #fff;

  background-color: #000;
  color: #fff;

  height: 18px;
  padding: 16px 12px 16px 0px;

  &:focus {
    outline: none;
  }
}

.label {
  cursor: pointer;
}
