@use "styles/global" as *;

.wrapper {
}

.content {
  @include fontAbel;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  color: white;
}

.rootTitle {
  margin-bottom: $Spacing-sm;

  @include media("tablet") {
    margin-bottom: $Spacing-lg;
  }
}

.list {
  width: 100%;
  display: grid;
  gap: 16px;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 610px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    gap: 24px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .block {
    box-sizing: border-box;
    flex: 1 1 calc(25% - 72px);
    background: rgba(255, 255, 255, 0.04);
    border: 0.5px solid rgba(255, 255, 255, 0.08);
    width: 100%;
    padding: 16px;

    @include media("tablet") {
      padding: 24px;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;
    margin-bottom: 24px;

    @include media("tabletVertical") {
      margin-bottom: 32px;
    }

    border: 1px solid #cfec57;
  }

  .title {
    max-width: 100%;
    max-height: 70px;
    padding-bottom: 20px;

    @include media("tabletVertical") {
      padding-bottom: 28px;
    }

    &::before,
    &::after {
      content: "> ";
      font-size: 24px;
      color: #cfec57;
    }
    &::after {
      content: " <";
    }

    @include media("tablet") {
      max-height: 233px;

      &::before,
      &::after {
        font-size: 36px;
      }
    }
  }

  .point {
    padding-bottom: 8px;

    p {
      display: inline;
    }

    .pin {
      margin-right: 16px;
      width: 16px;
      height: auto;
      color: #cfec57;
    }
  }
}
