@use "styles/global" as *;

.wrapper {
  @include fontJetBrains;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 60px;
  border-top: 1px solid rgba(#fff, 0.2);
  border-bottom: 1px solid rgba(#fff, 0.2);

  @include media("tablet") {
    margin-bottom: 160px;
  }
}

.content {
  @include fontJetBrains;
  color: white;

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

    li {
      position: relative;
      padding-bottom: 12px;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: start;
      padding-top: 8px;
    }

    li::before {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background-color: #cfec57;

      @include media("tablet") {
        top: 16px;
        left: 0px;
        width: 2px;
        height: 100%;
        background-color: #cfec57;
      }
    }

    .number {
      font-weight: 500;
    }

    .text {
      font-weight: 400;
    }
  }

  @include media("phoneXL") {
    ul {
      grid-template-columns: repeat(2, 1fr);

      li {
        padding-left: 32px;
        padding-bottom: 0px;
        text-align: left;
      }

      li::before {
        top: 0;
        left: 0px;
        width: 2px;
        height: 100%;
        background-color: #cfec57;
      }
    }
  }

  @include media("laptop") {
    gap: 48px;

    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
