@import "@styles/global.scss";

.root {
  @include fontJetBrains;
  color: white;
  padding-bottom: 90px;

  .title {
    font-size: $FontSize-Title;
    font-weight: 300;
    line-height: 90%;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    margin-bottom: 32px;
    max-width: 896px;

    @include media("tablet") {
      margin-bottom: 80px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      padding: 16px;
      flex: 1 1 calc(10% - 100px);

      background: linear-gradient(
        180deg,
        #1a1a1a -29.71%,
        rgba(26, 26, 26, 0) 75.89%
      );
      border: 1px solid #262626;
      border-radius: 8px;
    }
  }

  @include media("tablet") {
    ul {
      grid-template-columns: repeat(4, 1fr);

      li {
        padding: 25px;
      }
    }
  }

  @include media("laptop") {
    padding-bottom: 180px;

    ul {
      gap: 25px;
      grid-template-columns: repeat(5, 1fr);

      li {
        padding: 52px;
      }
    }
  }
}

.icon {
  width: 50px;
  max-width: 90px;
  height: auto;

  @include media("phoneL") {
    width: 70px;
  }
}
