@use "styles/global" as *;

.root {
  @include fontJetBrains;
  color: white;

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $Spacing-sm;

    margin-bottom: $Spacing-sm;

    @include media("laptop") {
      flex-direction: row;
      align-items: end;
      margin-bottom: $Spacing-lg;
      gap: $Spacing-lg;
    }
  }

  .title {
    @include media("laptop") {
      max-width: 520px;
    }
  }

  .desc {
    color: $Light-Gray;
    max-width: 768px;

    @include media("laptop") {
      max-width: 520px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      padding: 16px;
      flex: 1 1 calc(10% - 100px);

      background: linear-gradient(
        180deg,
        #1a1a1a -29.71%,
        rgba(26, 26, 26, 0) 75.89%
      );
      border: 1px solid #262626;
      border-radius: 8px;
    }
  }

  @include media("tablet") {
    ul {
      grid-template-columns: repeat(4, 1fr);

      li {
        padding: 25px;
      }
    }
  }

  @include media("tabletVertical") {
    ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @include media("desktopM") {
    ul {
      li {
        padding: 52px;
      }
    }
  }
}

.icon {
  width: 50px;
  max-width: 90px;
  height: auto;

  @include media("phoneL") {
    width: 50px;
  }

  @include media("tabletVertical") {
    width: 60px;
  }

  @include media("desktopM") {
    width: 70px;
  }
}
