$breakpointsPhoneM: 375px;
$breakpointsTablet: 768px;
$breakpointsTabletVertical: 1024px;
$breakpointsLaptop: 1280px;
$breakpointsDesktop: 1440px;

$breakpoints: (
  'phoneM': $breakpointsPhoneM,
  'tablet': $breakpointsTablet,
  'tabletVertical': $breakpointsTabletVertical,
  'laptop': $breakpointsLaptop,
  'desktop': $breakpointsDesktop,
);

:export {
  desktop: $breakpointsDesktop;
  laptop: $breakpointsLaptop;
  phoneM: $breakpointsPhoneM;
  tablet: $breakpointsTablet;
  tabletVertical: $breakpointsTabletVertical;
}
