@use "sass:math";
@use "sass:map";

@use "@styles/media" as *;
@use "@styles/helpers" as *;

@mixin media($device: "tablet") {
  $size: map.get($breakpoints, $device);
  $media: get-min-width($size);

  @media #{$media} {
    @content;
  }
}

@mixin fontJetBrains {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin fontAbel {
  font-family: "Abel", serif;
  font-style: normal;
}

@mixin fontPoppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
