// Typography
$ButtonsText-Size-16: 16px;
$FontSize-Body: 14px;
$FontSize-Title: clamp(60px, 6.5vw, 120px);

// Colors

// Spacing
// $Spacing-xs: 4px;
// $Spacing-sm: 8px;
// $Spacing-md: 16px;
// $Spacing-lg: 32px;
