@use "@styles/media" as *;
@use "@styles/mixins" as *;

// Typography
$FontSize-text-2xl: clamp(20px, 2vw, 24px);
$FontSize-text-xl: clamp(18px, 2vw, 20px);
$FontSize-text-lg: clamp(16px, 2vw, 18px);
$FontSize-text-md: clamp(14px, 2vw, 16px);
$FontSize-text-sm: clamp(12px, 2vw, 14px);

$FontSize-h1: clamp(48px, 6.5vw, 100px);
$FontSize-h2: clamp(36px, 5.5vw, 80px);
$FontSize-h3: clamp(28px, 4.5vw, 64px);
$FontSize-h4: clamp(24px, 3.5vw, 54px);
$FontSize-h5: clamp(20px, 2.5vw, 36px);
$FontSize-h6: clamp(18px, 2vw, 28px);

$Container-Width: 1600px;

// Colors
$Black: #000;
$White: #fff;
$Yellow: #cfec57;
$Orange: #f28b82;

$Dark-Gray: #808080;
$Light-Gray: #ffffffcc;

// Spacing
$Spacing-2xs: 12px;
$Spacing-xs: 16px;
$Spacing-sm: 24px;
$Spacing-md: 32px;
$Spacing-lg: 40px;
$Spacing-xl: 80px;
$Spacing-2xl: 140px;

.wrapper {
  padding-left: 16px;
  padding-right: 16px;

  @include media("laptop") {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.container {
  max-width: $Container-Width;
  margin: 0 auto;
}

.sectionWrapper {
  padding-bottom: $Spacing-xl;

  @include media("tabletVertical") {
    padding-bottom: $Spacing-2xl;
  }
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: $Spacing-xl;

  padding-bottom: $Spacing-xl;

  @include media("tabletVertical") {
    padding-bottom: $Spacing-2xl;
    gap: $Spacing-2xl;
  }
}

.separateSectionWrapper {
  padding-bottom: 60px;
  padding-top: 60px;

  @include media("tabletVertical") {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

.gap-md {
  gap: $Spacing-2xs;

  @include media("tablet") {
    gap: $Spacing-xs;
  }

  @include media("laptop") {
    gap: $Spacing-sm;
  }
}
