@import "@styles/global.scss";

.wrapper {
  height: calc(100vh - 100px);
  max-height: 900px;
  background: linear-gradient(90deg, black 50%, rgba(0, 0, 0, 0) 100%);
  background-position: left;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;

  @include media(tablet) {
    max-height: 916px;
    min-height: 815px;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;

  justify-content: space-between;

  @include media(tablet) {
    align-items: center;
  }
}

.content {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    max-width: 400px;
  }

  p {
    text-align: center;
  }

  @media (min-width: 300px) and (max-width: 500px) and (max-height: 800px) {
    justify-content: center;
  }

  @media (min-width: 500px) and (max-height: 800px) {
    justify-content: center;
  }

  @include media(tablet) {
    align-items: flex-start;

    h1 {
      text-align: left;
    }

    p {
      text-align: left;
    }
  }

  @include media(tabletVertical) {
    h1 {
      max-width: 700px;
    }
  }
}

.main_image {
  position: absolute !important;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  width: 110%;
  height: auto;
  object-fit: contain;
  z-index: 0;

  @media (max-width: 768px) and (max-height: 800px) {
    display: none;
  }

  @include media(tablet) {
    max-width: none;
    max-height: none;
    transform: translateX(0);
    height: 100%;
    object-fit: contain;

    width: 110%;
    right: -25%;
  }

  @include media(desktop) {
    bottom: 0;
    width: 100%;
  }
}
