@use "styles/global" as *;

.wrapper {
  background-color: #000;
  color: #fff;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  text-align: center;

  margin-bottom: $Spacing-md;

  @include media(laptop) {
    margin-bottom: $Spacing-lg;
  }
}

.accordionRoot {
  width: 100%;
  display: grid;
  padding: 0px;
}
