@use "@styles/global" as *;

.wrapper {
  @include fontJetBrains;
  overflow: hidden;

  display: flex;
  align-items: center;

  background-color: black;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 110px;

  background-color: black;
  color: white;

  @media (max-width: 1850px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

.expContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media("tablet") {
    gap: 40px;
  }

  @media (max-width: 1200px) {
    align-items: center;
  }

  .progressContainer {
    display: flex;
    gap: 0 14px;
  }
}

.progressArrow {
  width: 220px;

  @include media("phoneXL") {
    width: 431px;
  }
}

.progressText {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btnContainer {
  width: 100%;
  height: 26px;
  display: flex;
}

.backBtn {
  color: $Dark-Gray;

  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $Yellow;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.swiperContainer {
  flex: 1;
  width: 100%;
  max-width: 1030px;

  @media (max-width: 1850px) {
    max-width: 100vw;
  }

  :global(.swiper-pagination) {
    display: none !important;
  }
}

.list {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 24px;
  height: 200px;

  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.04);
  transition: all 0.5s ease-in-out;

  @include media(laptop) {
    height: 300px;
  }

  &__arrow {
    color: $Dark-Gray;
  }

  &:hover {
    background-color: #cfec57;
    transition: all 0.5s ease-in-out;

    .card__liTitle,
    .card__info {
      transition: all 0.5s ease-in-out;
      color: black;
    }

    .card__arrow {
      transition: all 0.5s ease-in-out;
      color: $Black;
    }
  }

  @media (max-width: 1850px) {
    width: 100%;
  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;
  }

  &__liTitle {
    text-transform: uppercase;
    color: $Dark-Gray;
  }

  &__info {
    max-width: 280px;
    // height: 62px;
    text-transform: uppercase;
    color: white;

    transition: all 0.5s ease-in-out;
  }
}
