@import "@styles/global.scss";

.root {
  @include fontJetBrains;
  padding: 140px 1px 180px 132px;

  display: flex;
  align-items: center;

  background-color: black;
  color: white;
}

.expContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 184px;

  .title {
    margin-bottom: 100px;

    font-weight: 300;
    font-size: 120px;
    line-height: 90%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .progressContainer {
    display: flex;
    gap: 0 14px;
  }

  p {
    @include fontInter;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.2em;
  }
}

.list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 24px 24px 40px 24px;
    height: 340px;
    width: 340px;
    flex: 1 1 calc(33.33% - 14px);

    border: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.04);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, fill 0.5s ease-in-out;

    &:hover {
      background-color: #cfec57;

      .liTitle,
      .info {
        color: black;
      }

      .arrow {
        fill: black;
      }
    }
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
  }

  .liTitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
    color: #888888;
  }

  .info {
    height: 62px;
    max-width: 280px;

    font-weight: 200;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #e9e9e9;
  }
}
