@import "@styles/global.scss";

.root {
  background-image: url("../../../shared/assets/images/aiml/wave.png"), url("../../../shared//assets//images/aiml/stars.png");
  background-position: bottom, center;
  background-size: 100% 50%, 70% 70%;
  background-repeat: no-repeat;

  padding-top: 236px;
  padding-bottom: 236px;
  color: white;
  position: relative;
}

.container {
  margin-left: 160px;
}

.title {
  @include fontJetBrains;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.08em;

  max-width: 800px;
  margin-bottom: 48px;
}

.tagText {
  @include fontAbel;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 48px;

  max-width: 523px;
}

.button {
  @include fontJetBrains;
  font-weight: 200;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #000;

  min-height: 60px;
  padding: 30px 88px;
  border-radius: 8px;
  background: conic-gradient(from 25deg at 14% 50%, #e2ff66 0deg, #8da720 360deg), #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);

  cursor: pointer;
}

.heroImage {
  position: absolute;
  bottom: -5%;
  right: 0;
  z-index: 0;

  width: 58%;
  height: auto;
}
