@use "styles/global" as *;

.root {
  @include fontJetBrains;
  color: white;

  padding: 0 160px 180px 160px;

  display: flex;
  flex-direction: column;
  gap: 160px;

  button {
    cursor: pointer;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;

  li {
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
    }
  }

  @include media("laptop") {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
