@import "@styles/global.scss";

.wrapper {
  background-color: #000;
  color: white;

  display: flex;
  border-top: 1px solid rgba(207, 236, 87, 0.2);
  border-bottom: 1px solid rgba(207, 236, 87, 0.2);
  position: relative;

  padding-top: 90px;
  padding-bottom: 90px;

  @include media(laptop) {
    padding-top: 0px;
    padding-bottom: 0px;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      right: 50%;
      content: "";
      height: 100%;
      width: 1px;
      background-color: #ffffff29;
    }
  }
}

.root {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 80px;

  @include media(laptop) {
    flex-direction: row;
    gap: 0px;
  }
}

.title {
  @include fontJetBrains;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: -0.08em;
  line-height: 100%;

  text-transform: uppercase;

  margin-bottom: 20px;

  @include media(laptop) {
    font-size: 54px;

    margin-bottom: 40px;
  }
}

.inputWrapper {
  display: grid;
  gap: 16px;

  @include media(laptop) {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.textarea {
  margin-top: 16px;

  @include media(laptop) {
    margin-top: 64px;
  }
}

.formButton {
  @include fontAbel;
  font-size: 18px;
  font-weight: 200;

  background-color: #fff;
  color: #000;
  width: 100%;
  margin-top: 32px;
  padding: 22px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  @include media(tablet) {
    padding: 24px;
    width: 243px;
  }
}

.privacy {
  display: flex;
  flex-direction: row-reverse !important;
  justify-content: start;
  gap: 8px;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 40px;
}

.checkboxText {
  @include fontAbel;
  font-weight: 300;
  font-size: 14px;

  color: rgba(#fff, 0.5);
}

.fileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;

  margin-top: 40px;
}

.fileInput {
  display: none;
  visibility: hidden;
}

.fileLabel {
  @include fontAbel;
  font-weight: 300;
  font-size: 18px;

  display: flex;
  align-items: center;
  gap: 4px;

  color: #fff;

  cursor: pointer;
}

.fileFormats {
  @include fontAbel;
  font-weight: 300;
  font-size: 14px;

  color: rgba(#fff, 0.5);
}

.clipIcon {
  width: 24px;
  height: 24px;

  color: transparent;
}

.formWrapper {
  width: 100%;

  @include media(laptop) {
    padding: 160px 0px;
    padding-right: 60px;
  }
}

.calendarWrapper {
  width: 100%;

  @include media(laptop) {
    height: 100%;
    padding: 160px 0px;
    padding-left: 60px;
  }
}
