@use "styles/global" as *;

.btn {
  cursor: pointer;
  box-sizing: border-box;

  @include fontJetBrains;
  font-weight: 200;
  font-size: $FontSize-text-md;
  line-height: 100%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

.rounded-md {
  border-radius: 8px !important;
}

.rounded-lg {
  border-radius: 50px !important;
}

.sm {
  padding: 6px 14px;
  font-size: $FontSize-text-sm;
  min-height: 28px;

  @include media("phoneXL") {
    padding: 8px 16px;
    min-height: 32px;
  }
}

.md {
  padding: 12px 20px;
  font-size: $FontSize-text-md;
  min-height: 28px;

  @include media("phoneXL") {
    padding: 14px 22px;
    min-height: 30px;
  }
}

.lg {
  padding: 21px 25px;
  font-size: $FontSize-text-lg;

  @include media("phoneXL") {
    padding: 24px 28px;
    min-height: 30px;
  }
}

.primary {
  color: #000;

  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: font-weight 1s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(from 25deg at 14% 50%, #e2ff66, #8da720);
    z-index: -1;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s ease;
  }

  &:hover {
    &::before {
      transform: scaleX(10);
    }
  }

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%
  );
}

.secondary {
  position: relative;
  background-color: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(10px);
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 8px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%
  );

  color: #ffffff;
}

.white {
  border-radius: 8px;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );

  background-color: #fff;
  color: #000;
  border: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}
