@use "styles/global" as *;

.root {
  @include fontJetBrains;
  color: white;

  .title {
    margin-bottom: $Spacing-sm;

    @include media("laptop") {
      margin-bottom: $Spacing-lg;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex: 0 0 100%;

  @include media("phoneXL") {
    flex: 0 0 calc(50% - 12px);
  }

  @include media("tabletVertical") {
    flex: 0 0 calc(33.333% - 16px);
  }
}

.card {
  height: 100%;
  display: block;
  padding: 16px;
  background: rgba(255, 255, 255, 0.04);
  box-sizing: border-box;

  border: 1px solid #333333;

  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #cfec57;
    transition: all 0.5s ease-in-out;

    .tag,
    .text,
    .arrow,
    .image,
    .titleContainer {
      color: black;
      transition: all 0.5s ease-in-out;
    }

    .arrow {
      fill: black;
    }
  }

  @include media("tablet") {
    padding: 24px;
  }

  @include media("laptop") {
    padding: 40px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    transition: all 0.5s ease-in-out;

    @include media("tablet") {
      margin-bottom: 24px;
    }

    @include media("laptop") {
      margin-bottom: 48px;
    }
  }

  .tag {
    min-height: 0px;

    @include media("laptop") {
      min-height: 56px;
    }
  }

  .arrow {
    fill: white;
    transition: all 0.5s ease-in-out;
  }

  .icon {
    margin-bottom: 16px;
  }

  .tag {
    flex: 1 1 auto;

    @include media("laptop") {
      max-width: 348px;
    }
  }

  .image {
    margin-bottom: 16px;

    svg {
      width: 40px;
      height: 40px;

      @include media("laptop") {
        width: 68px;
        height: 68px;
      }
    }
  }

  .tagContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
