@use "styles/global" as *;

.wrapper {
  @include fontJetBrains;
  background-color: black;
  color: #ffffff;
}

.content {
  h2 {
    margin-bottom: $Spacing-md;

    @include media(laptop) {
      margin-bottom: $Spacing-lg;
    }
  }

  .block {
    padding: 24px 16px;

    border: 0.5px solid rgba(255, 255, 255, 0.4);
    background:
      conic-gradient(
        from 80deg at 100% 23.3%,
        rgba(54, 89, 181, 0.123236) -14deg,
        rgba(22, 29, 37, 0.2) 202deg,
        rgba(64, 107, 224, 0.5) 280deg,
        #161d25 280deg,
        rgba(64, 107, 224, 0.5) 280deg,
        #161d25 280deg,
        rgba(64, 107, 224, 0.1) 280deg,
        rgba(54, 89, 181, 0.123236) 345.83deg,
        rgba(22, 29, 37, 0.2) 562deg
      ),
      rgba(255, 255, 255, 0.04);

    @include media(tablet) {
      background:
        conic-gradient(
          from 80deg at 50% 23.3%,
          rgba(54, 89, 181, 0.123236) -14deg,
          rgba(22, 29, 37, 0.2) 202deg,
          rgba(64, 107, 224, 0.5) 280deg,
          #161d25 280deg,
          rgba(64, 107, 224, 0.5) 280deg,
          #161d25 280deg,
          rgba(64, 107, 224, 0.1) 280deg,
          rgba(54, 89, 181, 0.123236) 345.83deg,
          rgba(22, 29, 37, 0.2) 562deg
        ),
        rgba(255, 255, 255, 0.04);
    }

    @include media(laptop) {
      padding: 40px 20px;

      background:
        conic-gradient(
          from 80deg at 34% 23.3%,
          rgba(54, 89, 181, 0.123236) -14deg,
          rgba(22, 29, 37, 0.2) 202deg,
          rgba(64, 107, 224, 0.5) 280deg,
          #161d25 280deg,
          rgba(64, 107, 224, 0.5) 280deg,
          #161d25 280deg,
          rgba(64, 107, 224, 0.1) 280deg,
          rgba(54, 89, 181, 0.123236) 345.83deg,
          rgba(22, 29, 37, 0.2) 562deg
        ),
        rgba(255, 255, 255, 0.04);
    }

    .list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @include media(tablet) {
        grid-template-columns: 1fr 1fr;
      }

      @include media(laptop) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }

      .firstCell {
        grid-row: span 2;

        .serviceTitle {
          padding-bottom: 16px;

          &::before,
          &::after {
            content: "> ";
            font-size: 24px;
          }
          &::after {
            content: " <";
          }

          @include media("tablet") {
            padding-bottom: 32px;

            &::before,
            &::after {
              font-size: 32px;
            }
          }
        }

        .description {
          max-width: 382px;
        }
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 74px;
        gap: 16px;

        box-sizing: border-box;
        padding: 12px 16px;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.08);
        transition:
          border 0.5s ease-in-out,
          background-color 0.5s ease-in-out;

        p {
          flex: 1 1 100%;
          // font-weight: 200;
          // font-size: 14px;
          text-transform: uppercase;
          transition: color 0.5s ease-in-out;
        }

        .img {
          width: 24px;
          height: 24px;
          flex: 1 1 auto;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          border: 1px solid #cfec57;
          background-color: #12171d;
          color: #cfec57;

          p {
            color: #cfec57;
          }

          .img {
            transform: rotate(90deg);
          }
        }

        @include media(tabletVertical) {
          padding: 12px 30px;
        }
      }
    }
  }

  .servicesList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include media(tabletVertical) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.desktopList {
  display: none;

  @include media(tabletVertical) {
    display: block;
  }
}

.mobileList {
  display: block;

  @include media(tabletVertical) {
    display: none;
  }
}
