@import '@styles/global.scss';

.root {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	background: linear-gradient(
		-15deg,
		rgba(226, 255, 102, 0.5) 0%,
		rgba(226, 255, 102, 0) 50%
	);
	background-color: black;
	color: white;
	overflow: hidden;

	@media (max-width: 1025px) {
		flex-direction: column;
		// margin-bottom: -60vh;
	}

	@media (max-width: 400px) {
    align-items: baseline;
		// margin-bottom: -60vh;
	}
}

.container {
	padding: 0 16px;
	width: 100%;
	max-width: calc(100vw - 160px);
	position: relative;

	@include media(tabletVertical) {
		margin-left: 160px;
	}

	@media (max-width: 1025px) {
		top: 150px;
		// margin-bottom: -60vh;
	}

	@media (max-width: 400px) {
		width: 100%;
		max-width: fit-content;
    padding: 0 16px;
	}
}

.tagContainer {
	background-color: #37364b;
	border: 1px solid #262626;
	border-radius: 40px;

	padding: 12px 24px;
	margin-bottom: 24px;

	width: fit-content;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.tagText {
	@include fontInter;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}

.title {
	@include fontJetBrains;
	font-size: 40px;
	font-weight: 200;

	text-transform: uppercase;

	margin-bottom: 24px;

	@include media(tabletVertical) {
		font-size: 100px;
		max-width: 800px;
		margin-bottom: 48px;
		letter-spacing: -8px;
	}
}

.button {
	@include fontJetBrains;
	font-weight: 200;
	font-size: 18px;
	line-height: 100%;
	min-height: 60px;

	padding: 15px 30px;
	background: linear-gradient(320deg, #e2ff66 30%, #8da720 60%);
	color: #000;

	border-radius: 8px;
	cursor: pointer;
	text-transform: uppercase;
}

.main_image {
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	position: relative;
	margin-bottom: -50vh;
	// margin-left: 40vw;
	bottom: 0;
	right: 0;
	transform: scale(1.75);
	transform-origin: center;

	@media (max-width: 1025px) {
		// transform: scale(1.2);
		// margin-bottom: -100vh;
	}

	@media (max-width: 650px) {
		transform: scale(1);
		// margin-bottom: -35vh;
		// margin-left: 30vw;
	}

	@media (max-width: 450px) {
		transform: scale(1);
		// margin-bottom: -35vh;
		// margin-left: 30vw;
	}

	@media (max-width: 376px) {
		transform: scale(1);
    display: none;
		// margin-bottom: -35vh;
		// margin-left: 30vw;
	}

	& canvas {
		position: absolute;
		bottom: 0;
	}
}
