@import "@styles/mixins.scss";

.tagContainer {
  background-color: #37364b;
  border: 1px solid #262626;
  border-radius: 40px;

  padding: 8px 16px;

  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media("tablet") {
    padding: 12px 24px;
  }
}

.tagText {
  @include fontInter;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;

  @include media("tablet") {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }
}

.imageContainer {
  position: relative;
  width: 32px;
  height: 18px;

  @include media("tablet") {
    width: 46px;
    height: 29px;
  }
}
