@use "styles/global" as *;

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @include media(tabletVertical) {
    gap: 24px;
    align-items: flex-start;
  }
}

.title {
  text-align: center;

  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @include media(phoneXL) {
    word-break: normal;
    overflow-wrap: normal;
  }

  @include media(tabletVertical) {
    text-align: left;
  }
}

.tagText {
  color: $Dark-Gray;

  max-width: 523px;
  text-align: center;

  @include media(tablet) {
    text-align: left;
  }
}
