@import "@styles/global.scss";

.root {
  background-image: url("../../../shared/assets/images/softwareDev/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: black;
  padding-top: 244px;
  padding-bottom: 112px;
  color: white;
  position: relative;
}

.container {
  margin-left: 160px;
}

.title {
  @include fontJetBrains;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.08em;

  max-width: 949px;
  margin-bottom: 48px;
}

.text {
  @include fontDMmono;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #999999;

  max-width: 380px;
  margin-bottom: 48px;

  & > *:first-child {
    margin-bottom: 48px;
  }
}

.button {
  @include fontJetBrains;
  font-weight: 200;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #000;

  min-height: 60px;
  padding: 30px 88px;
  border-radius: 8px;
  background: conic-gradient(from 25deg at 14% 50%, #e2ff66 0deg, #8da720 360deg), #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);

  cursor: pointer;
}

.heroImage {
  position: absolute;
  bottom: 67px;
  right: 0;
  z-index: 0;
}
