@use "styles/global" as *;

.root {
  @include fontJetBrains;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: 900px) {
    gap: 24px;
  }
}

.block {
  display: flex;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid rgba(255, 255, 255, 0.4);

  &.reverse {
    flex-direction: row-reverse;
  }

  &__content {
    flex: 1 1 50%;
    padding: 83px 83px 83px 50px;

    @media (max-width: 1200px) {
      padding: 40px 24px;
    }
    @media (max-width: 900px) {
      padding: 24px 8px;
    }
  }

  &__title {
    margin-bottom: 16px;
    text-align: center;

    &::before,
    &::after {
      content: "> ";
      color: #f28b82;
    }
    &::after {
      content: " <";
    }

    @media (max-width: 900px) {
      &::before,
      &::after {
        font-size: 32px;
      }
    }
    @media (max-width: 600px) {
      &::before,
      &::after {
        font-size: 22px;
      }
    }

    @include media("phoneL") {
      margin-bottom: 32px;
      text-align: left;
    }
  }

  &__text {
    text-align: center;

    color: $Dark-Gray;
    max-width: 361px;

    @media (max-width: 900px) {
      max-width: 100%;
    }

    @include media("phoneL") {
      text-align: left;
    }
  }

  &__image {
    display: none;
    position: relative;
    flex: 1 1 50%;
    min-width: 0;
    padding: 0;
    margin: 0;

    @include media("phoneL") {
      display: block;
    }
  }
}
