@import "@styles/global.scss";

.root {
  @include fontJetBrains;
  background-color: black;
  color: #ffffff;
  padding: 0 160px 180px 160px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.block {
  display: flex;

  background: rgba(255, 255, 255, 0.04);
  border: 0.5px solid rgba(255, 255, 255, 0.4);

  div {
    padding: 83px 83px 83px 50px;
  }

  h3 {
    font-style: normal;
    font-weight: 200;
    font-size: 54px;
    line-height: 110%;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    margin-bottom: 32px;

    &::before,
    &::after {
      content: "> ";
      font-size: 54px;
      color: #f28b82;
    }
    &::after {
      content: " <";
    }
  }

  p {
    @include fontAbel;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);

    max-width: 361px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
