@use "styles/global" as *;

.block {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1100;

  &__content {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #cfec57;
    background:
      linear-gradient(0deg, #000000, #000000),
      linear-gradient(180deg, #1a1a1a -29.71%, rgba(26, 26, 26, 0) 75.89%),
      url("../../../shared/assets/images/header/services-bg.png") no-repeat
        center center;

    background-size: cover;
    border-radius: 10px;
    max-width: 1600px;
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 750px;
    overflow-y: auto;

    &_list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &_certificates {
      display: none;

      @media (max-width: 1500px) {
        display: block;
      }
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #d0ec57;
    }
  }

  &__item {
    font-size: 18px;
    text-transform: uppercase;

    & a {
      color: white;
      transition: color 0.3s ease;

      &:hover {
        color: #e2ff66;
      }
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 1200px) {
    gap: 30px;
  }

  &__label {
    @include fontJetBrains;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -8%;
    text-transform: uppercase;
    color: #fff;
    min-height: 48px;

    a {
      transition: color 0.3s ease;

      &:hover {
        color: #e2ff66;
      }
    }

    @media (max-width: 1200px) {
      min-height: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      color: #fff;

      &:hover {
        color: #e2ff66;
      }
    }
  }

  &__item {
    @include fontAbel;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -4%;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 12px;

    &_icon {
      width: 24px;
      height: 24px;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;

  & > *:nth-child(5) {
    grid-column: 1 / span 2;
  }

  &__certificates {
    display: block;

    @media (max-width: 1500px) {
      display: none;
    }
  }

  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.certificates {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__label {
    @include fontJetBrains;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -8%;
    text-transform: uppercase;
    color: #fff;
  }

  &__list {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
