@use "styles/global" as *;

.card {
  padding: 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.16);

  .image {
    margin-bottom: $Spacing-sm;
    width: 100%;
    max-height: 260px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .cardTitle {
    margin-bottom: 4px;
  }

  .subtitle {
    text-transform: uppercase;
    color: $Dark-Gray;

    margin-bottom: $Spacing-sm;
  }

  .description {
    color: $Dark-Gray;

    margin-bottom: $Spacing-sm;
    max-width: 376px;
  }

  .readMore {
    box-sizing: border-box;
    padding: 25px 40px;
    background-color: black;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.16);

    @include fontJetBrains;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #ffffff;

    transition:
      border 0.5s ease-in-out,
      color 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      border: 1px solid #cfec57;
      color: #cfec57;
    }
  }
}
