@import "@styles/_mixins.scss";

.lastSection {
  padding-top: 70px;
  padding-bottom: 90px;

  @include media("tablet") {
    padding-top: 140px;
    padding-bottom: 180px;
  }
}

.textContainer {
  max-width: 800px;
}
