@use "styles/global" as *;

.root {
  @include fontJetBrains;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;

  @include media("tablet") {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  @include media("laptop") {
    gap: 40px;
  }

  li {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $Spacing-xs;
    padding: 16px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #333333;

    transition: border 0.4s ease-in-out;

    &:hover {
      border: 1px solid #cfec57;

      .number {
        color: #cfec57;
      }
    }

    @include media("tabletVertical") {
      height: 270px;
      padding: 32px;

      gap: $Spacing-lg;

      &:nth-child(odd) {
        margin-top: 110px;
      }
    }

    @include media("desktop") {
      height: 370px;
    }
  }
}

.textDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .text {
    text-align: right;

    max-width: 120px;
  }
}

.numberDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .number {
    transition: color 0.4s ease-in-out;
  }

  .arrowIcon {
    width: 20px;
    height: 20px;

    @include media("tabletVertical") {
      width: 35px;
      height: 35px;
    }
  }
}
